.idea/
.vscode/
node_modules/
build/
dist
tmp/
temp/
.env
ormconfig.js
*.log
telegram_sessions.json
docker/postgres/data/
docker/postgres/backups/
docker/redis/data/
.uptime.config.json
censor.json
sync_state.json
user-posts.*.json
user-topics.*.json
user-posts-deleted-ids.*.json
*.db
*.db-shm
*.db-wal