require('dotenv').config();

module.exports = {
  name: 'default',
  type: 'postgres',
  host: process.env.POSTGRES_HOST || 'localhost',
  port: 5432,
  username: process.env.POSTGRES_USER,
  password: process.env.POSTGRES_PASSWORD,
  database: process.env.POSTGRES_DB,
  entities:
    process.env.NODE_ENV === 'development'
      ? ['src/modules/**/infra/typeorm/entities/*.ts']
      : ['dist/modules/**/infra/typeorm/entities/*.js'],
  migrations:
    process.env.NODE_ENV === 'development'
      ? ['src/shared/infra/typeorm/migrations/*.ts']
      : ['dist/shared/infra/typeorm/migrations/*.js'],
  cli: {
    migrationsDir: 'src/shared/infra/typeorm/migrations',
  },
};
